[run]
branch = True
source =
    api
    trianglebahaiinstitute
    
omit =
    */test/*
    */tests/*
    */conftest.py
    */scripts/*

[report]
fail_under = 100
show_missing = True
skip_covered = False